<h1><%= @job.title %></h1>

<p><%= @job.desc %></p>

<ul>
  <li><%= link_to "Edit", (@job) %></li>
  <li><%= link_to "Destroy", (@job), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>